@inject NavigationManager NavigationManager
@inject DataContext DataContext

<div class="flex flex-row l:flex-col w-full justify-between items-stretch l:items-baseline l:justify-start l:w-60 h-12 l:h-[100vh] bg-mainBlue text-white l:space-y-4 px-4 py-2 l:px-2 l:pt-4">
    <div class="flex flex-row l:flex-col l:space-y-2 l:w-full self-center l:self-auto h-full l:h-auto items-stretch space-x-2 l:space-x-0">
        <div class="w-100 flex flex-row justify-center self-center">
            <div>
                <img src="/images/LSTME_logo_white.svg" class="h-10 l:h-28 w-auto" alt="Avatar">
            </div>
        </div>
        <h3 class="w-full text-center l:font-bold self-center text-sm">Haxee</h3>
    </div>

    <div class="hidden l:block">
        <div class="flex flex-col">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <div class="w-full flex flex-row justify-start items-stretch p-2">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-house"></i></h3>
                        <h3 class="ml-3 self-center">Domov</h3>
                    </div>
                </NavLink>
            </div>
            @if (User.UserType == UserType.Instructor)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="activities">
                        <div class="w-full flex flex-row justify-start items-stretch p-2">
                            <h3 class="self-center font-extralight"><i class="fa-solid fa-person-running"></i></h3>
                            <h3 class="ml-3 self-center">Aktivity</h3>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="devices">
                        <div class="w-full flex flex-row justify-start items-stretch p-2">
                            <h3 class="self-center font-extralight"><i class="fa-solid fa-tower-broadcast"></i></h3>
                            <h3 class="ml-3 self-center">Zariadenia</h3>
                        </div>
                    </NavLink>
                </div>
                @if (RunningActivity is not null)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="leaderboard">
                            <div class="w-full flex flex-row justify-start items-stretch p-2">
                                <h3 class="self-center font-extralight"><i class="fa-solid fa-ranking-star"></i></h3>
                                <h3 class="ml-3 self-center">Leaderboard</h3>
                            </div>
                        </NavLink>
                    </div>                
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"kids/{RunningActivity.Id}")>
                            <div class="w-full flex flex-row justify-start items-stretch p-2">
                                <h3 class="self-center font-extralight"><i class="fa-solid fa-user-group"></i></h3>
                                <h3 class="ml-3 self-center">Účastníci</h3>
                            </div>
                        </NavLink>
                    </div>
                }
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                    <div class="w-full flex flex-row justify-start items-stretch p-2">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-gear"></i></h3>
                        <h3 class="ml-3 self-center">Nastavenia</h3>
                    </div>
                </NavLink>
            </div>
            @if (User.SuperInstructor)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/visualizer">
                        <div class="w-full flex flex-row justify-start items-stretch p-2">
                            <h3 class="self-center font-extralight"><i class="fa-solid fa-chart-simple"></i></h3>
                            <h3 class="ml-3 self-center">Vizualizácia</h3>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/menu">
                        <div class="w-full flex flex-row justify-start items-stretch p-2">
                            <h3 class="self-center font-extralight"><i class="fa-solid fa-screwdriver-wrench"></i></h3>
                            <h3 class="ml-3 self-center">Admin panel</h3>
                        </div>
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/auth/logout">
                    <div class="w-full flex flex-row justify-start items-stretch p-2">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-arrow-right-from-bracket"></i></h3>
                        <h3 class="ml-3 self-center">Odhlásiť</h3>
                    </div>
                </NavLink>
            </div>
        </div>
    </div>

    <div id="menu-btn" class="hamburger bg-transparent focus:bg-transparent block l:hidden" @onclick="ToggleNavMenu">
        <span class='hamburger-top @(navMenuAnimatedOpen ? "open" : "")'></span>
        <span class='hamburger-middle @(navMenuAnimatedOpen ? "open" : "")'></span>
        <span class='hamburger-bottom @(navMenuAnimatedOpen ? "open" : "")'></span>
    </div>
</div>

<div data-active="@navMenuDisplayed.ToString()" data-animated="@navMenuAnimatedOpen.ToString()" class='data-[active=False]:hidden data-[animated=True]:opacity-100 absolute w-full top-12 transition-all duration-700 ease-in-out opacity-0'>
    <div class='bg-white p-4 shadow-lg flex flex-col text-darkBlue'>
        <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/home")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-house"></i></h4>
            <h4 class="ml-3 self-center">Domov</h4>
        </div>
        <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/activities")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-person-running"></i></h4>
            <h4 class="ml-3 self-center">Hi-Fi Ralley</h4>
        </div>
        <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/leaderboard")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-ranking-star"></i></h4>
            <h4 class="ml-3 self-center">Leaderboard</h4>
        </div>
        <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/kids")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-user-group"></i></h4>
            <h4 class="ml-3 self-center">Účastníci</h4>
        </div>
        <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/settings")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-gear"></i></h4>
            <h4 class="ml-3 self-center">Nastavenia</h4>
        </div>
        @if (User.SuperInstructor)
        {
            <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/admin/visualizer")'>
                <h4 class="self-center font-extralight"><i class="fa-solid fa-chart-simple"></i></h4>
                <h4 class="ml-3 self-center">Vizualizácia</h4>
            </div>
            <div class="p-4 border-b-2 border-gray-200 w-full float-right flex flex-row justify-end items-stretch"  @onclick='() => NavToPage("/admin/menu")' >
                <h4 class="self-center font-extralight"><i class="fa-solid fa-screwdriver-wrench"></i></h4>
                <h4 class="ml-3 self-center">Admin panel</h4>
            </div>
        }
        <div class="p-4 w-full float-right flex flex-row justify-end items-stretch" @onclick='() => NavToPage("/auth/logout")'>
            <h4 class="self-center font-extralight"><i class="fa-solid fa-arrow-right-from-bracket"></i></h4>
            <h4 class="ml-3 self-center">Odhlásiť</h4>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User User { get; set; } = default!;

    [CascadingParameter(Name = Constants.CascadingParameters.RunningActivity)]
    private Activity? RunningActivity { get; set; } = default!;

    private bool navMenuDisplayed = false;

    private bool navMenuAnimatedOpen = false;

    private string? NavMenuCssClass => navMenuDisplayed ? "collapse" : null;

    private async void ToggleNavMenu()
    {
        if(!navMenuDisplayed) 
        {
            navMenuDisplayed = true;
            StateHasChanged();
            await Task.Delay(50);
            navMenuAnimatedOpen = true;
            StateHasChanged();
        } else {
            navMenuAnimatedOpen = false;
            StateHasChanged();
            await Task.Delay(700);
            navMenuDisplayed = false;
            StateHasChanged();
        }
    }

    private void NavToPage(string add) 
    {
        ToggleNavMenu();
        NavigationManager.NavigateTo(add, true);
    }
}
